* {
    margin: 0px;
    padding: 0px;
    font-family: 'VT323', monospace;
}
body {
    background-color: black;
    display: flex;
}
div.row {
    margin:0px;
    height: 20px;
}
div.row div {
    width:  20px;
    height: 100%;
    display: inline-block;
}

div.brick {
    background-color: blue;
}

/* div.empty {
    background-color: black;
} */


div.coin {
    background: url("/assets/coin.gif");
    background-position: center;
}

div#pacman {
    background: url("/assets/pacman.gif");
    background-position: center;
    background-size: cover;
    width: 20px;
    height: 20px;
    position: absolute;
}
.scoreboard {
    color: white;
    display: inline;
    margin: 10px;
    font-size: 5em;
}